<script>
$(function () {
  // barang
  var barangs = new Bloodhound({
    datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.name); },
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: "/categories.json?query=%QUERY"
    }
  });

  barangs.initialize();

  $("#barang_category_name").typeahead(null, {
     displayKey: 'name',
     source: barangs.ttAdapter(),
     templates: {
      suggestion: Handlebars.compile([
        '<p class="repo-name">{{code}}, <span class="repo-description">{{name}}</span></p>'
      ].join(''))
    }
  }).bind('typeahead:selected typeahead:autocompleted', function (event, datum) {
    $("#barang_category_name").val(datum.name);
    $("#barang_category_id").val(datum.id);
  });

  $("#barang_category_name").blur(function() {
    if ($("#barang_category_id").val() != "") {
      $.getJSON("/categories/"+$("#barang_category_id").val()+".json",function(json){
        if ( json.length != 0 ) {
          $("#barang_category_name").val(json.name);
        }
      });
    } else {
      $("#barang_category_name").val("");
    }
  });
})
</script>