<div id="page-wrapper">
  <section class="content-header">
    <h1><i class="fa fa-building fa-fw"></i> Barang</h1>
    <ol class="breadcrumb">
      <li class="nonactive"><i class="fa fa-building fa-fw"></i> Master</li>
      <li><%= link_to barangs_path do %>Daftar Barang<% end %></li>
      <li class="active">Ubah Barang</li>
    </ol>
  </section>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Ubah Barang</h2>
        <div class="clearfix"></div>
      </div>

      <%= render 'form' %>

    </div>
  </div>
</div>

</div>