<section class="content-header">
  <h1><i class="fa fa-line-chart fa-fw"></i> Stok Barang</h1>
  <ol class="breadcrumb">
    <li class="nonactive"><i class="fa fa-line-chart fa-fw"></i> Stok Barang</li>
    <li><%= link_to stocks_path do %>Daftar Stok Barang<% end %></li>
  </ol>
</section>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Daftar Stok Barang</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div id="table_index">
          <%= render 'table_index' %>
        </div>
      </div>
    </div>
  </div>
</div>
