<section class="content-header">
  <h1><i class="fa fa-user fa-fw"></i> Kasir</h1>
  <ol class="breadcrumb">
    <li class="nonactive"><i class="fa fa-user fa-fw"></i> Kasir</li>
    <li><%= link_to pre_orders_path do %>Daftar Pelunasan Pre Order Barang<% end %></li>
    <li class="avtive">Detail Pelunasan Pre Order Barang</li>
  </ol>
</section>

<%= render 'show_pelunasan_po' %>