<section class="content-header">
  <h1><i class="fa fa-gift fa-fw"></i> Promo Barang</h1>
  <ol class="breadcrumb">
    <li class="nonactive"><i class="fa fa-gift fa-fw"></i> Promo</li>
    <li><%= link_to promos_path do %>Daftar Promo Barang<% end %></li>
  </ol>
</section>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Daftar Promo Barang</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="form-group">
          <div class="row">
            <div class="col-md-7">
              <%= link_to new_promo_path, class: "btn btn-primary btn-sm" do %><i class="fa fa-plus-square"></i> Tambah Promo<% end %>
            </div>
          </div>
        </div>
        <div id="table_index">
          <%= render 'table_index' %>
        </div>
      </div>
    </div>
  </div>
</div>
