/* ---- FORM ----*/
.x_panel {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px 0px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  border-top: 3px solid #3c8dbc;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
.x_title {
  border-bottom: 1px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
}
.x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
}
#page-wrapper h1 {
  font-size: 24px;
}
.x_content {
  padding: 0 5px 6px;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
}
.ln_solid {
  border-top: 1px solid #e5e5e5;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0px 15px 0;
}
.clearfix:after,
form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* ---- end FORM ----*/

/* logout + username */
.text_logout{
  color: white;
}
.username{
  color: white
}
/* end logout + username */

/*--- Pagination ---*/
.pagination{
  margin: 0px 0px 10px 0px;
}
.ui.pagination.menu {
  margin: 0em;
  display: inline-block;
  vertical-align: middle;
}
.ui.pagination.menu .item {
  min-width: 3em;
  text-align: center;
}
.ui.pagination.menu .icon.item .icon {
  vertical-align: top;
}
.ui.pagination.menu.floated {
  display: block;
}
/* active */
.ui.pagination.menu .active.item {
  border-top: none;
  padding-top: 0.83em;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/*--- end Pagination ---*/

/*--- menu samping collapse ---*/
body ul.nav.nav-second-level.collapse.in li:before {
  background: #337ab7;
  bottom: auto;
  content: "";
  height: 6px;
  left: 33px;
  margin-top: 9px;
  position: absolute;
  right: auto;
  width: 6px;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
body ul.nav.nav-second-level.collapse.in li:after {
  bottom: 0;
  content: "";
  left: 37px;
  position: absolute;
  top: 0;
}
/*--- end menu samping collapse ---*/

/*--- breadcrumb ---*/
.content-header{
  position: relative;
  /*padding: 2px 0 0 0;*/
}
.content-header .breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  /*padding: 13px 5px;*/
  position: absolute;
  top: -1px;
  right: -14px;
  border-radius: 2px;
}
/*--- end breadcrumb ---*/

/*--- jquery datepicker ---*/
div.ui-datepicker {
 font-size:12px;
}
/*--- end jquery datepicker ---*/

/*--- alert + notice ---*/
#error_explanation {
  padding-left: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
#error_explanation h2 {
  font-size: 14px;
  margin-top: 8px;
}
#error_explanation ul {
  font-size: 12px;
  margin-bottom: 8px;
}
.alert {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0;
}
.alert.alert-success,
.alert.alert-danger
 {
  font-size: 13px;
}
/*--- end alert + notice ---*/

/*--- typeahead ---*/
.repo-name{
  font-size: 12px;
  line-height: 18px;
}
.repo-description{
  font-size: 12px !important;
  line-height: 14px;
  font-weight: normal;
}
.tt-dropdown-menu{
  border-radius: 0px !important;
  margin-top: 0px !important;
  padding: 0px !important;
}
.tt-suggestion{
  padding-left: 5px !important;
  padding-right: 5px !important;
}
/*--- end typeahead ---*/

/*--- table barang keluar ---*/
.table_barang_keluar th{
  padding: 2px !important;
}
.table_barang_keluar td {
  vertical-align: middle !important;
  padding: 2px !important;
}
.table_barang th{
  padding: 2px !important;
}
.table_barang td {
  vertical-align: middle !important;
  padding: 2px !important;
  cursor:pointer;
}
.field_barang_keluar,
.btn {
  border-radius: 0 !important;
}
.grandtotal_show {
  font-size: 17px;
}
.bayar_show {
  font-size: 17px;
  clear: both;
}
.grandtotal {
  font-size: 20px;
  margin-top: 16px;
}
.bayar {
  font-size: 20px;
  clear: both;
}
.pull_right{
  float: right;
}
.cetak{
  margin-top: 10px;
}
/*--- end table barang keluar ---*/

.brand-btn {
  margin-top: 0px;
  cursor: pointer;
  border-right: 1px solid white;
  border-left: 1px solid #54677a;
}

