.group {
    zoom: 1;
}
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}
.images_1_of_4 img {
    width: 175px;
    height: 175px;
}
.images_1_of_4 {
    width: 23%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    text-align: center;
    position: relative;
}
.grid_1_of_4 {
    display: block;
    float: left;
    margin: 1% 1.6% 1% 0%;
    box-shadow: 0px 0px 3px rgb(150, 150, 150);
    -webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
    -moz-box-shadow: 0px 0px 3px rgb(150, 150, 150);
    -o-box-shadow: 0px 0px 3px rgb(150, 150, 150);
}
.add-cart {
    float: right;
    display: inline-block;
    width: 65px;
}
.add-cart h4 a {
    font-size: 0.7em;
    display: block;
    padding: 5px 10px;
    font-family: 'Arial';
    background: #CD1F25;
    color: #FFF;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.add-cart h4 a i {
    padding-right: 5px;
}
.clear {
    clear: both;
}
h4 {
    display: block;
    margin: 0px;
}
.nama_barang {
    display: block;
    font-size: 0.9em;
    margin: 0px;
    padding-top: 5px;
    font-weight: bold;
    height: 40px;
    font-family: 'Arial';
    text-transform: uppercase;
}
.kode_barang {
    display: block;
    font-size: 0.9em;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: 'Arial';
}
.price-number {
    float: left;
    padding-top: 5px;
}
.price-details {
    margin-top: 10px;
    border-top: 1px solid #CD1F25;
}
.price-details p span.rupees {
    font-size: 0.9em;
    font-family: 'Arial';
    color: #383838;
}
.price-details p {
    margin: 0;
}
.disc-number {
    float: left;
}
.disc-details {
}
.disc-details p span.rupees {
    font-size: 0.9em;
    font-family: 'Arial';
    color: #383838;
}