<div id="page-wrapper">
  <h1><i class="fa fa-archive"></i> Kategori Barang</h1>
  <ol class="breadcrumb">
    <li class="nonactive"><i class="fa fa-building fa-fw"></i> Master</li>
    <li><%= link_to categories_path do %>Daftar Kategori Barang<% end %></li>
    <li class="avtive">Ubah Kategori Barang</li>
  </ol>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Ubah Kategori Barang</h2>
        <div class="clearfix"></div>
      </div>

      <%= render 'form' %>

    </div>
  </div>
</div>

</div>