<section class="content-header">
  <h1><i class="fa fa-file-archive-o fa-fw"></i> Report</h1>
  <ol class="breadcrumb">
    <li class="nonactive"><i class="fa fa-file-archive-o fa-fw"></i> Report</li>
    <li><%= link_to reports_path do %>Report Barang Keluar<% end %></li>
    <li class="avtive">Detail Report Barang Keluar</li>
  </ol>
</section>

<% if @barang_keluar.payment_type == "A1" %>
  <%= render "show_barang_keluar_tunai" %>
<% elsif @barang_keluar.payment_type == "A2" %>
  <%= render "show_barang_keluar_pre_order" %>
<% end %>

